body {
    padding: 2px;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 1px solid black;
    font-size: 16
}

header {
    background-color: white;
    text-align: center;
}

h2 {
    display: inline;
    background-color: white;
    text-align: center;
}

div.selectHub {
    border-top: 1px solid black;
}

div.subscribe {
    float: left;
    width: 50%;
    border-top: 1px solid black;
}

div.publish {
    padding: 2px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin-left: 50%
}

label,
button {
    padding: 2px;
    display: inline-block;
    width: 24.5%
}

input,
textarea,
select {
    width: 65%;
    border: 1px solid
}

textarea {
    vertical-align: top;
}

textarea.textAreaMonitor,
textarea.textAreaReceive {
    width: 99%;
    font-family: "Segoe UI Emoji";
}

textarea.textAreaMonitor,
textarea.subscriptionResponse,
textarea.eventResponse {
    background-color: whitesmoke
}

div.monitor,
div.receive {
    border-top: 1px solid black;
    text-align: left
}

div.webmessage {
    display: none;
}